<items>
   <item type="menu">
      <inner label="Start game" />
      <inner label="Options" />
      <inner label="Exit" />
   </item>
   <item type="video">
      <inner label="intro" file="" />
   </item>
   <item type="level">
      <inner label="level1" file="level1.xml" />
      <inner label="level2" file="level1.xml" />
   </item>
   <item= type="flow">
      <inner>mainMenu</inner>
      <inner>intro</inner>
      <inner>level1</inner>
      <inner>level2</inner>
   </item>
</items>
